<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shoppingCart" class="ShoppingCart">
      <!--  <constructor-arg ref="gPay"/> -->
        <!-- In case of setter injection we use the property field & gives the reference to the associated dependency. -->
        <property name="paymentProcessor" ref="gPay"/>
    </bean>

    <bean id="phonePay" class="PhonePayPaymentProcessor">

    </bean>

    <bean id="gPay" class="GPayPaymentProcessor">

    </bean>

</beans>